# Ignore editor swap files
*~
*.sw?
.*.sw?
# Ignore OS metadata files
.DS_Store
Thumbs.db
# Ignore other temporary files
*.tmp
*.log

users.json



# Backend dependencies
backend/node_modules/
backend/database.sqlite

# Node dependencies
node_modules
package-lock.json


