<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Repositores do Futuro</title>
  <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="transition-all duration-500 bg-gradient-to-b from-green-100 to-green-50 text-gray-800 font-sans">
  {{{body}}}
</body>
</html>
