@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

a.externo::after {
  content: "\00A0\1F517";
}

body {
  background-color: #44444469;
}
/* HEADER */

header {
  background-color: #214092;
  min-height: 150px;
  text-align: center;
  padding-top: 40px;
}

header img {
  margin: auto;
  display: block;
  padding: 15px;
}

/* MAIN */

main {
  min-width: 300px;
  max-width: 1000px;
  padding: 20px;
  margin: auto;
  margin-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

main p {
  font-size: 1, 1250em;
  text-align: left;
  line-height: 2em;
  padding: 0.7em;
}

main a {
  text-decoration: none;
  font-weight: bold;
  background-color: #44444444;
  color: #000;
  border-radius: 10px;
  padding: 2px 6px;
}

main a:hover {
  text-decoration: underline;
}

main h1 {
  padding: 1.5em;
  color: #444;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.418);
}

main h2 {
  padding: 1.5em;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.418);
}

main h3 {
  padding: 1.5em;
  font-size: 1.3em;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.418);
}

main li {
  padding: 0.5em;
}

main ul {
  list-style-type: "\2714\0020\0020";
  list-style-position: inside;
  text-indent: 15px;
}

main img {
  padding: 15px 0px;
}

/* FOOTER */

footer {
  text-align: center;
  background-color: #44444469;
}

footer a {
  text-decoration: none;
  color: #000;
}

footer a:hover {
  text-decoration: underline;
  color: #444;
}
