<h1 class="text-center text-2xl font-bold mt-10">Cursos</h1>
<ul class="max-w-md mx-auto mt-6 list-disc list-inside">
  <li>Introdução ao PEPS</li>
  <li>Conhecendo Produtos</li>
  <li>Treinamento de Vendas</li>
</ul>
